
<html>
    <head>
        <title>Transaction</title>
        <style>
                *, *:before, *:after {
                -moz-box-sizing: border-box;
                -webkit-box-sizing: border-box;
                box-sizing: border-box;
                }

                body {
                font-family: 'Nunito', sans-serif;
                color: #fff;
                font-size: larger;
                background-color: #393e46;
                background-image: url("https://www.nttdata.com/au/en/-/media/nttdataapac/common-images/foresight/technology-trend---the-current-status-of-open-api-technology-and-new-trend-towards-open-banking/the-current-status-of-open-api-technology-and-new-trend-towards-open-banking_listing-818x560.jpg");
                background-position: center; /* Center the image */
                background-repeat: no-repeat; /* Do not repeat the image */
                background-size: cover;
                }


                h1 {
                margin: 0 0 30px 0;
                text-align: center;
                }

                

                button {
                margin: 250px 450px;
                padding: 19px 39px 18px 39px;
                color: #1b1a17;
                background-color: #d8e3e7;
                font-size: 18px;
                text-align: center;
                font-style: normal;
                border-radius: 5px;
                width: 30%;
                border: 1px solid #d8e3e7;
                border-width: 1px 1px 3px;
                box-shadow: 0 -1px 0 rgba(255,255,255,0.1) inset;
                }

        </style>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Sign Up Form</title>
        <link rel="stylesheet" href="https://codepen.io/gymratpacks/pen/VKzBEp#0">
        <link href='https://fonts.googleapis.com/css?family=Nunito:400,300' rel='stylesheet' type='text/css'>
    </head>
    <body>
       

        <h1>Create your blockchain</h1>
       
        <button><a href="/blockchain">Create Blockchain</a></button>
        
      
    </body>

</html>
